body{
    text-align: center;
    background-color: aquamarine;
}

.bodyMaxWe{
    max-width: 800px;
    background-color: aliceblue;
    padding: 35px;
    margin:60px auto;
    border-radius: 25px;
    box-shadow: 0px 30px 50px rgb(97, 92, 92);
}
form{
    margin: 30px;
}
.CitySearcher{
    width: 300px;
    height: 25px;
    font-size: 16px;
    padding: 8px;
    border-radius: 50px;
    box-shadow: 0px 17px 30px rgb(97, 92, 92);
}
#magnit{
    font-size: 25px;
    color: blue;
    padding: 5px;
}
.NameOfCity{
    margin-left: 50px;
    margin-top: 25px;
}
.degree{
    margin-right: 60px;
}
.weatherInfo{
    display: flex;
}
.firstLine{
    margin-top: 20px;
    margin-bottom: 20px;
}
.mainFirstSection{
    display: flex;
    justify-content:space-between;
}
.CondiTion {
    max-width: 260px;
    background-color: rgb(158, 187, 212);
    padding: 25px;
    margin:60px auto;
    border-radius: 25px;
    box-shadow: 0px 30px 50px rgb(97, 92, 92);
}
.sunCondition {
    max-width: 260px;
    background-color: rgb(158, 187, 212);
    padding: 25px;
    margin:60px auto;
    border-radius: 25px;
    box-shadow: 0px 30px 50px rgb(97, 92, 92);
}
ul{
    padding: 0px;
    list-style-type: none;
}
ul .CondiTionGrib{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
ul .sunConditionGrid{
    display: flex;
    justify-content: space-between;
}
ul .dailyWeather{
    display: flex;
    justify-content:space-between;
    overflow:hidden;
    
}
figure {
    font-size: 16px;
    max-width: 25%;
    background-color: rgba(127, 162, 192, 0.61);
    border-bottom: 1px solid rgb(87, 81, 81);;
    border-right:  2px solid rgb(77, 72, 72);
    padding: 25px;
    margin:5px auto;
    border-radius: 25px;
    box-shadow: 0px 30px 50px rgb(97, 92, 92);
    position: relative;
}
figure:hover {
    transform: scale(1.5);
    z-index: index;
}
.firstDay {
    left: 45px;
    z-index: 10;
}
.secondDay{
    right: -25px;
    z-index: 9;
    
}
.thirdDay{
    right: -5px;
    z-index: 8;
    
}
.fourthDay{
    right: 13px;
    z-index: 7;
}
.fifthDay{
    right: 30px;
    z-index: 6;
}
.sixthDay{
    right: 50px;
    z-index: 5;
    
}